".editorconfig

root = true

[**.js]
bin  = nodejs
indent_style = space
indent_size = 2

[**.css]
bin  = nodejs
indent_style = space
indent_size = 2

[**.html]
bin  = nodejs
indent_style = space
indent_size = 2
